body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
img{
    width: 50%;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

button{
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: rgb(5,129,245);
    color: white;
}
