.back-contact{
    background: rgb(0,0,0);
background: linear-gradient(75deg, rgba(0,0,0,1) 33%, rgba(39,38,38,1) 33%, rgba(39,38,38,1) 66%, rgba(0,0,0,1) 66%);
height: 150px;
}

.contact-location {
    transition: transform 0.3s ease;
  }

  .contact-location:hover {
    transform: scale(1.05);
  }
